.screensaver {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 32px;
  color: cornflowerblue;
  z-index: 1;
}
