@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget">
            <div class="card-body">
                <h5 class="card-title">Light</h5>
				<form method="post">
                    <button type="submit" asp-page-handler="TurnOn">On</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="TurnOff">Off</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
</div>