@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget">
            <div class="card-body">
                <h5 class="card-title">Light</h5>
				<form method="post">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="testLightTurnedOn" checked="@Model.State?.TurnedOn">
                        <label class="form-check-label" for="testLightTurnedOn">Test light</label>
                    </div>
                    <div class="mb-3">
                        <label for="testLightBrightness" class="form-label">Brightness</label>
                        <input type="range" class="form-range" name="testLightBrightness" min="0" max="100" value="@Model.State?.Brightness">
					</div>
                    <button type="submit" asp-page-handler="TestLight">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    </div>
</div>